@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.robotoregular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media screen and (min-width: 1024px) {
  .robotoregular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
  }
}

@media screen and (max-width: 767px) {
  .robotoregular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
  }
}

@media screen and (max-width: 767px) {
  .txt {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
  }
}
